* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* <!-- ### Primary --> */

  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);

  /* <!-- ### Neutral --> */

  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);

  --PrimaryFont: 'Manrope', sans-serif;
}


body {
  font-family: var(--PrimaryFont);
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--DarkBlue);
}

/* carcinogenic */

.advice-container {
  position: relative;
  background-color: var(--DarkGrayishBlue);
  width: 90%;
  max-width: 370px;
  border-radius: 10px;
}

.dice-container {
  background-color: var(--NeonGreen);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateY(20%);
  transform: translateX(-50%);
}

.divider {
  margin-bottom: 3em;
}

.divider img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.dice-container img {
  height: 20px;
  width: 20px;
}

.dice-container:hover,
.dice-container:focus,
.dice-container:active {
  box-shadow: 1px 1px 20px var(--LightCyan);
  cursor: pointer;
}


.advice-text {
  font-size: 28px;
  color: var(--LightCyan);
  margin: 1em 0;
  padding: 0 1em;
}

h2 {
  font-size: 12px;
  margin-top: 1.5em;
  color: var(--NeonGreen);
  text-transform: uppercase;
  letter-spacing: 3px;
}